* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Urbanist", sans-serif;
    background-color: #f8f9fa;
  }

  .container {
    width: 100%;
    max-width: 132rem;
    padding: 0 2rem;
    margin: auto;
    
  }

  /* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: #d4e6f1;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding: 0 2rem;
    position: relative;
    border-radius: 25px;
  }
  
/* Logo */
.logo h2 {
    font-size: 2    rem;
    font-weight: bold;
    color: #333;
  }
  
  /* Navigation Links */
nav ul {
    list-style: none;
    display: flex;
    gap: 0.1rem;
  }
  


  nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #333;
    font-weight: 600;
    padding: 1rem 1.5rem;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 2px;

  }
  
  /* Hover Effect */
  nav ul li a:hover {
    color: #d79595;

  }

  /* Responsive Design */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
  }
}